*/.idea/workspace.xml
*.log
*.log.*
*.iml
*.iws
*.ipr
.project
.classpath
*.class
classes/
bin/
.settings/
.idea/
target/
npm-debug.log

# bower and node dependencies 
bower_components
node_modules
dist
*.bundle.css
*.bundle.js
index.develop
index.production
.idea/artifacts/monitor_web_war_exploded.xml
.idea/workspace.xml
