*/.idea/workspace.xml
*.log
*.log.*
*.iml
*.iws
*.ipr
.project
.classpath
*.class
classes/
bin/
.settings/
.idea/
target/
npm-debug.log

.idea/artifacts/monitor_web_war_exploded.xml
.idea/workspace.xml
